html, body { color:#222; font-family:Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; margin:0; padding: 0; text-decoration: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
img { border:0; }
ol, ul { list-style: none outside none; margin:0; padding: 0; }
a { color:#000000; text-decoration: none; }
.clr { display:block; clear:both; height:0; overflow:hidden; }
.copyright { padding:8px; text-align:center; font-size:14px; color:#666; }
.copyright a { color:#666; }
h2 { font-size:16px; }





body {background-color:#f2f2f2; }
body .mainmenu:after { clear: both; content: " "; display: block; }
body .mainmenu{ max-width:640px; min-width:320px; margin:0 auto}
body .mainmenu li{ float:left; padding-bottom:10px; border-right:1px solid #ddd; border-bottom:1px solid #ddd;

width: 49.5%;   background:#fff; overflow:hidden;}

body .mainmenu li a{ display:block;  color:#FFF; font-family:microsoft yahei;    text-align:center }
body .mainmenu li a b{ display:block;  height:80px; }
body .mainmenu li a img{ margin: 10px auto 0px;
width: 70px;
height:70px;}
body .mainmenu li a span{ display:block; height:30px; padding-top:px; line-height:30px;  color: #333;padding-bottom:5px; font-size:18px; font-weight:normal; }

/*body .mainmenu li:nth-child(8n+1) {background-color:#36A1DB}
body .mainmenu li:nth-child(8n+2) {background-color:#678ce1}
body .mainmenu li:nth-child(8n+3) {background-color:#8c67df}
body .mainmenu li:nth-child(8n+4) {background-color:#84d018}
body .mainmenu li:nth-child(8n+5) {background-color:#14c760}
body .mainmenu li:nth-child(8n+6) {background-color:#f3b613}
body .mainmenu li:nth-child(8n+7) {background-color:#ff8a4a}
body .mainmenu li:nth-child(8n+8) {background-color:#fc5366}*/

.header_region { width:100%; margin: 0 auto; min-height:40px; max-height:152px; background-color:rgba(255,255,255,0.9); position: fixed; bottom: 0; left: 0; z-index:9998; border-top:1px solid #E0E0E0 }
/*============================================================================*/

/*============================================================================*/
.footre_region { width:100%; margin: 0 auto; height:50px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#dfdfdf)); background:-moz-linear-gradient(top, #eaeaea, #dfdfdf); box-shadow: 0px 0px 0px #999; position: fixed; bottom: 0; left: 0; z-index:9999; border-top:#b2b2b2 solid 1px; }
.foot_nav { width:100%; margin:0 auto; font-size:1.8rem; }
.foot_nav li { height:50px; box-sizing:border-box; line-height: 50px; text-align: center; float: left; position: relative; border-left:#b0b0b0 solid 1px; }
.foot_nav li a.bd { border-right: 1px solid #f1f1f1; border-left: 1px solid #f1f1f1; }
.foot_nav li a { display: block; white-space:nowrap; text-align:center; }
.foot_nav li .more_btn.on { -webkit-transform:rotate(180deg); transition:all ease-in-out 0.5s; }
.foot_nav li i { line-height:5rem; vertical-align:middle; font-size:1.2rem; }
.foot_nav li .more_btn.out { -webkit-transform:rotate(0deg); transition:all ease-in-out 0.2s; }
.foot_nav li:first-of-type { border-left:none; }
.foot_nav li:first-of-type i { font-size:3rem; line-height:5rem; }
.foot_nav li:first-of-type span { display:none; }
.foot_nav li:first-of-type a.bd { font-size: 1.8rem; border-left:none; }
.foot_nav li:last-of-type a.bd { border-right: none; }
.foot_nav>li:nth-of-type(1) { width:15%; }
.foot_nav li:nth-of-type(1) ol { width:90px; }
.foot_nav>li:nth-of-type(2), .foot_nav>li:nth-of-type(3), .foot_nav>li:nth-of-type(4) { width:28%; }
.home_btn { height:px; cursor:pointer; display:block; color:#666; font-size:1.8rem; background:none; }
.home_btn:hover{ color:#E76540}
.class_nav { width:100%; margin: 0 auto; zoom:1; }
.class_nav li { width:20%; float:left; text-align:center; }
.class_nav li a { display:block; color:#FFF; }
.class_nav li i { color:#777; display:block; margin:0 auto; }
.class_nav li a:hover span, .class_nav li a:hover i , .class_nav li a.act i, .class_nav li a.act span{color:#77b400}


